@mixin button {
    height: 50px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    color: white;
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center
}

.card {
    height: 736px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .06);
    border-radius: 7px;
    display: grid;
    grid-template-rows: 50px;
    background-color: skyblue;
        &__inputs {
        background-color: white;
        display: grid;
        grid-template-rows: repeat (4, 1fr);
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
    }
    
    button:focus {
        outline: none;
        
    }
    button{
        justify-self: center;
        transform: translateY(-25px);
    }
    
    &__generate{
        background-color: #00CB79;
        @include button;
    }
    &__clear{
        background-color: #45B0E5;
        @include button;
    }
    &__content{
        width: 1100px;
        height: 297px;
        background-color: #F2F2F2;
        justify-self: center;
        
        z-index: -1;
        p{
            padding: 50px 47px;
            font-family: 'Montserrat';
            font-size: 16px;
            font-weight: 300;
            line-height: 29px;
        }
    }
}
.header{
    align-self: center;
    
    &__skew{
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        clip-path: polygon(0 0, 100% 0%, 100 25%, 0 50%);
        z-index: -10;
        position: absolute;
        width: 100vw;
        height: 110vh;
        background-clor: #444444;
        top: 0;
        left: 0;
        border-bottom: 10px solid #00CB79;        

    }
    &__border{
        -webkit-clip-path: polygon(0 48%, 100% 23%, 100% 25%, 0 50%);
        clip-path: polygon(0 48%, 100% 23%%, 100 25%, 0 50%);

        z-index: -10;
        position: absolute;
        width: 100vw;
        height: 110vh;
        background-clor: #444444;
        top: 0;
        left: 0;
        border-bottom: 10px solid #00CB79;
    }
        color: white;
        font-family: 'Montserrat';
    h1{

        font-size: 36px;
        font-weight: 500;
        line-height: 44px;
        text-align: center;
    }
    p{
        color: rgba(255,255,255,0.75);
        font-size: 15px;
        font-weight: 300;
        line-height: 19px;
        width: 403px;
    }
}
.home {
    position: relative;
    background-color: #CFCFCF;
    display: grid;
    justify-items: center;
    grid-template-rows: [header-s] 218px [header-e card-s] minmax(736px, 994px) [card-e];
}
.input {
    display: grid;
    font-family: 'Montserrat';
   // grid-template-rows: 1fr 1fr 1fr;
    padding: 4px 0;
    grid-template-columns: []number-s] 26px [number-e input-s] 1fr [input-e];
    
    height: 80px;
    
    &:focus {
        outline: none;
        border-bottom: 1px solid rgb(0, 255, 247);
    }
    
    &__title {
        grid-column: input-s/input-e;
        border-top: 1px solid #B3B3B3;
        color: #B3B3B3;
        font-size: 12px;
        font-weight: 300;
    }
    input {
        gird-column: input-s/input-e;
        border: none;
        width: 190px;
        height: 40px;
    }
    &__number{
        grid-column: number-s/number-e;
        background-color: #00CB79;
        color: white;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        padding-top: 1px;
        height: 26px;
        width: 26px;
        border-radius: 50%;
    }
}
